/*! HTML5 Boilerplate v5.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,500,700,800);

html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}

body {
	font: 300 14px/1.8 'Raleway', sans-serif;
	color: #666;
	background: #f5f5f5;
}

section {
	padding-top: 70px;
	padding-bottom: 50px;
	min-height: 100%;
	min-height: calc(100% - 0);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

section.container {
	padding-top: 90px;
	padding-bottom: 50px;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Raleway, sans-serif;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin: 5px 0 5px;
	color: #311944;
	margin-bottom: 50px;
}

.card-content {
	font-family: Raleway, sans-serif;
	text-transform: uppercase;
	letter-spacing: 5px;
	color: #311944;
}

/*
 * A better looking default horizontal rule
 */
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio, canvas, iframe, img, svg, video {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
	resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */
.hidden {
	display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before, .clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) { /* Style adjustments for viewports that meet the condition */
}

@media print , ( -webkit-min-device-pixel-ratio : 1.25) , ( min-resolution : 120dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
	*, *:before, *:after {
		background: transparent !important;
		color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
		box-shadow: none !important;
		text-shadow: none !important;
	}
	a, a:visited {
		text-decoration: underline;
	}
	a[href]:after {
		content: " (" attr(href) ")";
	}
	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
	a[href^="#"]:after, a[href^="javascript:"]:after {
		content: "";
	}
	pre, blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	/*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
	thead {
		display: table-header-group;
	}
	tr, img {
		page-break-inside: avoid;
	}
	img {
		max-width: 100% !important;
	}
	p, h2, h3 {
		orphans: 3;
		widows: 3;
	}
	h2, h3 {
		page-break-after: avoid;
	}
}

@font-face {
	font-family: 'Glyphicons Halflings';
	src: url("#{resource['vox:/css/bootstrap/fonts/glyphicons-halflings-regular.eot']}");
	src: url("#{resource['vox:/css/bootstrap/fonts/glyphicons-halflings-regular.eot']}&#iefix") format('embedded-opentype'),
		url("#{resource['vox:/css/bootstrap/fonts/glyphicons-halflings-regular.woff2']}") format('woff2'),
		url("#{resource['vox:/css/bootstrap/fonts/glyphicons-halflings-regular.woff']}") format('woff'),
		url("#{resource['vox:/css/bootstrap/fonts/glyphicons-halflings-regular.ttf']}") format('truetype'),
		url("#{resource['vox:/css/bootstrap/fonts/glyphicons-halflings-regular.svg']}#glyphicons_halflingsregular")
		format('svg');
}

@font-face {
	font-family: "Material-Design-Icons";
	src: url("#{resource['vox:/css/material-design-icons/Material-Design-Icons.eot']}&#iefix") format("embedded-opentype"),
		url("#{resource['vox:/css/material-design-icons/Material-Design-Icons.woff2']}") format("woff2"),
		url("#{resource['vox:/css/material-design-icons/Material-Design-Icons.woff']}") format("woff"),
		url("#{resource['vox:/css/material-design-icons/Material-Design-Icons.ttf']}") format("truetype"),
		url("#{resource['vox:/css/material-design-icons/Material-Design-Icons.svg']}#Material-Design-Icons") format("svg");
	font-weight: normal;
	font-style: normal;
}

material-design-icons

.navbar-custom {
	border: 0;
	border-radius: 0;
	margin: 0;
	text-transform: uppercase;
	font-family: Raleway, sans-serif;
}

.navbar-custom, .navbar-custom .dropdown-menu {
	background: #fff;
	padding: 0;
}

.navbar-custom .navbar-brand, .navbar-custom .navbar-nav>li>a, .navbar-custom .navbar-nav .dropdown-menu>li>a {
	font-size: 11px;
	letter-spacing: 3px;
	color: #311944;
}

.navbar-custom .nav li.active, .navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus, .navbar-custom .navbar-nav>li.active a
	{
	background: none;
	outline: 0;
	color: #311944;
}

.navbar-custom .navbar-brand {
	font-weight: 700;
	font-size: 22px;
}

.navbar-custom .dropdown-menu {
	border: 0;
	border-top: 2px solid #311944;
	border-radius: 0;
}

.navbar-custom .dropdown-menu>li>a {
	padding: 10px 20px;
}

.navbar-custom .nav .open>a, .navbar-custom .dropdown-menu>li>a:hover, .navbar-custom .dropdown-menu>li>a:focus {
	background: #f5f5f5;
}

.navbar-custom .navbar-toggle .icon-bar {
	background: #222;
}

.jumbotron {
	background: #fff;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/** Github gist*/
span.pl-ent {
	color: #311944 !important;
}

span.pl-e:nth-of-type(1) {
	color: red !important;
}

span.pl-e {
	color: #575557 !important;
}

span.pl-s1 {
	color: #d2157a !important;
}

input[type="checkbox"]:checked+label:before {
	border-right: 2px solid #311944;
	border-bottom: 2px solid #311944;
}

input[type="checkbox"].filled-in:checked+label:after {
	border: 2px solid #311944;
	background-color: #311944;
}

footer.page-footer {
	background-color: #311944;
}

footer.page-footer .footer-copyright {
	background-color: #241132;
}

.intro {
	background: #220e33;
	min-height: 400px;
	margin-top: 62px;
}

.dropdown-content {
	max-height: 240px;
}

.dropdown-content li>a, .dropdown-content li>span {
	color: #311944;
}

nav ul a {
	color: #311944;
}

nav ul a:HOVER {
	text-decoration: none;
}

.navbar-brand {
	margin-top: 5px;
	font-family: Raleway, sans-serif;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.navbar-collapse ul.left li a {
	font-family: Raleway, sans-serif;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.navbar-collapse ul.right i {
	font-size: 20px;
}

.main-menu#navbar-collapsible.collapse.in {
	background: #311944;
	margin-top: 9px;
}

.main-menu#navbar-collapsible.collapse.in a {
	color: #fff;
}

button.navbar-toggle:focus {
	background-color: #d2157a;
}

i.mdi-hardware-gamepad.right {
	margin-top: -5px;
}

